<html>
<head>
	<meta charset='UTF-8'>
  <title>Error!</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:wght@300&display=swap" rel="stylesheet">
	<link href="/404.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">

</head>

<body bgcolor="040238">
    <div class="layout">
      <div class="title1"> Oops! </div>
      <div class="img-fluid ">
        <img src="404-15.png" width= "750px" class="icon_500">
      </div>
      <div class="">
          <a class="buttons" routerLink="/" > HOME </a>
      </div>
    </div>
</body>
</html>
