<app-navbar></app-navbar>
<div class="page-addCard-container col-12">
  <p class="title-page">Agregar nueva tarjeta</p>
  <div class="form-card">
    <form class="col-6">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Número de tarjeta:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Fecha de vencimiento:</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CVC:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">País:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Código postal:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/misTarjetas">Guardar tarjeta</button>
    </form>
  </div>
</div>
