.background{
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/img/user-desktop/desktop-background.png');
  background-image: center;
  position: fixed;
  background-size: cover;  
}

.register-form-container{
  width: 100vw;  
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
}

.form-div{
  margin-top: 180px;
  z-index: -1;
}

.register-form-container{
  height: 180vh;
  width: 100vw;
}


.card-body {
  background: #6a11cb;
  background: -webkit-linear-gradient(to right, rgba(57, 39, 208, 1), rgba(103, 63, 215, 1));
  background: linear-gradient(to right, rgba(103, 63, 215, 1), rgba(57, 39, 208, 1));
  border-radius: 11px;
}

.shado {
  -webkit-box-shadow: 0px 2px 35px 50px #8F58D3;
  box-shadow: 0px 2px 50px 11px #8F58D3;
  height: 110vh;
}

.login {
  margin-top: 2vh;
}

.input-container {
  height: 20%;
}

footer{
  width: 100%;
}

@media only screen and (max-width: 300px) {
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
  }

  .container-fluid {
    min-height: 100%;
    background-image: url(/assets/img/login/Template-16.png);
    background-size: 110vw 100vh;
    background-repeat: no-repeat;
  }

  .shado {
    -webkit-box-shadow: 0px 2px 35px 50px #8F58D3;
    box-shadow: 0px 2px 50px 11px #8F58D3;
    height: 135vh;
  }

  .bottom {
    margin-bottom: 5vh;
  }

  footer{
    width: 100%;
    margin: 0;
    padding: 0;
  }


  /* .footer {
    height: 20vh;
    width: 100%;   
    display: block;
  } */

  .card-body {
    height: fit-content;
  }

  input{
    font-size: small;
  }

}

@media only screen and (max-width: 580px) {
  
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
  }

  .container-fluid {
    min-height: 100%;
    background-image: url(/assets/img/login/Template-16.png);
    background-size: 110vw 100vh;
    background-repeat: no-repeat;
  }

  .shado {
    -webkit-box-shadow: 0px 2px 35px 50px #8F58D3;
    box-shadow: 0px 2px 50px 11px #8F58D3;
    height: 135vh;
  }

  .bottom {
    margin-bottom: 5vh;
  }

/* 
  .footer {
    height:20vh;
    width: 100%;  
  } */

  .card-body {
    height: fit-content;
  }

  input{
    font-size: small;
  }

}

@media only screen and (min-width: 1000px) {
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
  }

  .container-fluid {
    min-height: 100%;
    background-image: url(/assets/img/login/Template-16.png);
    background-size: 110vw 100vh;
    background-repeat: no-repeat;
  }

  .shado {
    -webkit-box-shadow: 0px 2px 35px 50px #8F58D3;
    box-shadow: 0px 2px 50px 11px #8F58D3;
    height: 135vh;
  }

  .bottom {
    margin-bottom: 5vh;
  }

  .footer {
    height:20vh;
    width: 100%;   
  }

  .card-body {
    height: fit-content;
  }

}

@media only screen and (min-width: 1500px) {
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
  }

  h3 {
    margin-top: -5%;
    font-size: 2vw;
  }

  .container-fluid {
    min-height: 100%;
    background-image: url(/assets/img/login/Template-16.png);
    background-repeat: initial;
    background-size: 90vw 100vh;
    image-rendering: auto;
    margin-bottom: 10%;
  }

  .shado {
    -webkit-box-shadow: 0px 2px 35px 50px #8F58D3;
    box-shadow: 0px 2px 50px 11px #8F58D3;
    height: 110vh;
  }

  .card-body {
    height: fit-content;
  }

  /* .footer {
    height: 20vh;
    width: 11vw;  
  } */
}
