* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.footer-content {
  display: block;
  background-color: white;
  width: 100%;
  height: 200px;
  position: relative;
}

img {
  width: 230px;
  height: 100px;
  padding-top: 20px;
}

hr {
  height: 2px;
  width: 80%;
  color: #d73fbe;
  width: 600;
  margin-left: 10%;

}

ul {
    display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 20px;
  color: #040238;
 font-weight: 600;
 font-size: small;
}

a {
  text-decoration: none;
}
