* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.page-navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.img1 {
  background-image: url(/assets/img/navbar/logo.png);
  margin-top: 5px;
  width: 110px;
}

nav {
  background-color: transparent;
  height: 100px;
  font-size: 14px;
}

ul {
  padding-top: 25px;
}

li {
  color: #040238;
  padding: 25px;
  float: left;
}

.accordion {
  display: none;
}
#text-navbar-1:hover{
  padding: 12px;
  box-shadow: inset 100px 0 0 0 #673fd7;
  color: white;
}
#text-navbar-2:hover{
  padding: 12px;
  box-shadow: inset 100px 0 0 0 #673fd7;
  color: white;
}
#text-navbar-3:hover{
  padding: 12px;
  box-shadow: inset 100px 0 0 0 #673fd7;
  color: white;
}
#text-navbar-4:hover{
  padding: 12px;
  box-shadow: inset 100px 0 0 0 #673fd7;
  color: white;
}

@media only screen and (max-width: 700px) {
  .page-navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .img1 {
    background-image: url(/assets/img/navbar/logo.png);
    margin-top: 5px;
    width: 110px;
  }

  nav {
    display: none;
  }

  .accordion {
    display: flex;
    width: 100px;
    margin-top: 50px;
    border-color: white;

  }

  .accordion-button {
    border-color: white;
  }

  .dropdown-menu-img {
    width: 30px;
    height: 30px;
  }

  li {
    padding: 0px;
    padding-bottom: 4px;
    color: #040238;
    float: center;
    font-size: 90%;

  }
}
