
<div class="page-navbar-container">
  <div class="logo-container">
    <img class="img1" src="/assets/img/navbar/logo.png" alt="PayMoon">
  </div>
  <nav>
    <ul class="lista1">
      <li><a routerLink="/" class="li1">INICIO </a></li>
      <li><a routerLink="/paymoon" class="li1"> SOBRE PAYMOON </a></li>
      <li><a routerLink="/registro" class="li1"> REGISTRO </a></li>
      <li><a routerLink="/ingresar" class="li1"> INICIAR SESIÓN </a></li>
    </ul>
  </nav>
  <!-- <button type="button" data-bs-toggle="collapse" data-bs-target="#nav-mobile"
          aria-expanded="false" aria-controls="#nav-mobile">
          
          <span>
            <img src="" alt="menu">
          </span>
  </button> -->
  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
    <span><img src="assets/img/navbar/menu1.png" alt="menu"></span>
  </button>


</div>

<nav class="nav-mobile">
  <div class="collapse multi-collapse" id="multiCollapseExample2">       
    <div class="mobile-menu">
      <a routerLink="/">INICIO</a>
      <a routerLink="/paymoon">SOBRE PAYMOON</a>
      <a routerLink="/registro">REGISTRO</a>
      <a routerLink="/ingresar">INICIAR SESION</a>
    </div>  
  </div>
</nav>

  <!-- <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">    
      <h5 class="mb-0">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <img class="dropdown-menu-img" src="/assets/img/navbar/menu.png" alt="menú">
        </button>
      </h5>

      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
      
      </div>
    </div>
  </div> 

  -->

 
  

  