.user-navbar-container{
    height: 10vh;
    width: 100vw;      
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.user-navbar-container .user-navbar-appLogo{
    width: 10vh;
    height: 10vh;
    background-image: url('../../../assets/img/user-navbar/PayMoonLogo.png');
    background-size: cover;
    cursor: pointer;
}

.user-navbar-container .user-navbar-menuIcon{
    width: 5vh;
    height: 5vh;
    background-image: url('../../../assets/img/user-navbar/menuIcon.png');
    background-size: cover;
    cursor: pointer;
}

