.user-navbar-container{
    height: 100px;
    width: 100vw;      
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */    
    align-items: center;      
    background-color: #ffffffb4;
}

.user-navbar-container .user-navbar-appLogo{
    width: 10vh;
    height: 10vh;
    background-image: url('../../../assets/img/user-navbar/PayMoonLogo.png');
    background-size: cover;
    cursor: pointer;
}

/* .user-navbar-container .user-navbar-menuIcon{
    /* width: 5vh;
    height: 5vh;
    background-image: url('../../../assets/img/user-navbar/menuIcon.png');
    background-size: cover;
    cursor: pointer;
} */ 

.user-navbar-container .user-navbar-close-btn{
    color: #fff;
    font-weight: bold;
    background-color: #673fd7;
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
}

.user-navbar-container .user-navbar-close-btn:hover{
    background-color: #8f58d3;
}

@media only screen and (max-width: 800px){
    .user-navbar-container .user-navbar-close-btn{
        font-weight: normal;
        font-size: small;
    }
}


