.background{
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/img/user-register-info/desktop-background2.png');
  background-image: center;
  position: fixed;
  background-size: cover;  
}

app-user-navbar{
  position: fixed;
  top:0;
  background-color: #ffffffb6;
  z-index: 1;
}

.container-fluid{
  margin-top: 130px;
}

button{
  margin:5px;
}
/* .main-container{
  height: 50vh;
} */

.card-body{
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(57, 39, 208, 1), rgba(103, 63, 215, 1));
    background: linear-gradient(to right, rgba(103, 63, 215, 1), rgba(57, 39, 208, 1));
    border-radius: 11px;
  }
  
  .shado{
    -webkit-box-shadow: 0px 2px 35px 50px #8F58D3; 
    box-shadow: 0px 2px 50px 11px #8F58D3;
    height: auto;
  }
  
  .login{
    margin-top: 2vh;
  }
  
  .input-container{
    height: 20%;
  }
  
  
  @media only screen and (min-width: 1000px) {
    h2 {
      font-family: 'Raleway', sans-serif;
      font-size: 5vh;
      
    }
  
    .container-fluid {
      min-height: 1000;      
    }

    .main-container{
      height: 50vh;
    }
  
    .shado{
      -webkit-box-shadow: 0px 2px 35px 50px #8F58D3; 
      box-shadow: 0px 2px 50px 11px #8F58D3;
      height: auto;
    }
  
    .bottom{
      margin-bottom: 5vh;
    }
  
    
  }

  @media only screen and (max-width: 500px){

    h2{
      font-weight: lighter;
    }

    input{
      font-size: small;
    }
  
    .background{
     
      background-image: url('/assets/img/user-register-info/mobile-background1.png');
       
    }

    button{
      font-size: medium;
    }
  
    .main-container{
      height: 50vh;
    }
  
  }
  
  @media only screen and (min-width: 1500px) {
    h2 {
      font-family: 'Raleway', sans-serif;
      font-size: 5vh;
    }
  
    h3 {
      margin-top: -5%;
      font-size: 2vw;
    }
  
    .container-fluid {
      min-height: 100%;          
      margin-bottom: 10%;
    }
    .shado{
      -webkit-box-shadow: 0px 2px 35px 50px #8F58D3; 
      box-shadow: 0px 2px 50px 11px #8F58D3;
      height: auto;
    }
    .main-container{
      height: 50vh;
    }
  }