<body bgcolor="white">
  <ul class="rrss">
    <li>
      <a href="https://www.facebook.com/" target="_blank" src> <img class="rrss1" src="/assets/img/home/RRSS-01.png"
          alt=""> </a>
    </li>
    <li>
      <a href="https://www.whatsapp.com/" target="_blank" src> <img class="rrss2" src="/assets/img/home/RRSS-02.png"
          alt=""> </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank" src> <img class="rrss3" src="/assets/img/home/RRSS-03.png">
      </a>
    </li>
  </ul>
</body>
