<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:wght@300&display=swap" rel="stylesheet">
  <title>PayMoon</title>
</head>

<body bgcolor="white">
    <ul class="rrss" >
      <li>
        <a href="https://www.facebook.com/" target="_blank" src> <img class="rrss1" src="RRSS-01.png" alt="" > </a>
      </li>
      <li>
        <a href="https://www.whatsapp.com/" target="_blank" src> <img class="rrss2" src="RRSS-02.png" alt="" > </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank" src> <img class="rrss3" src="RRSS-03.png" > </a>
      </li>
    </ul>
</body>
</html>
