app-user-navbar{
    position: fixed;
    top:0;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url('../../../assets/img/user-register-info/desktop-background2.png');
    background-size: cover;
    background-position: center;
}


.body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.body .content-container{
    margin-top: 150px;
    width: 40%;
}

.body .content-container .btn-aux-div1{
    width: 100%;   
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;    
}

.body .content-container .add-btn{
    border:none;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: bold;
    background-color: #3927D0;
    border-radius: 10px;
    padding: 5px 10px;
    min-width: 30%;
}


.body .content-container p{
    border-radius: 10px;
    box-shadow: 0 0 30px #b366da; 
    padding: 5px;
    text-align: center;
    background-color: #ffffffad;  
    font-size: x-large; 
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
}

.body .content-container .cards-container{
    width:100%;
    height: 50vh;
    min-height: 300px;
    box-shadow: 0 0 30px #b366da; 
    border-radius: 10px;
    margin-top: 5px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: auto;             
}

.body .content-container .cards-container .cardInfo-container{
    width: 80%;  
    margin: 10px; 
    border: 1px solid #3927D0;
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-around;
    background-color: #ffffff;    
    padding:10px;
}

.body .content-container .cards-container .cardInfo-container .delete-icon{
    width: 40px;
    height: 40px;   
}

.body .content-container .cards-container .cardInfo-container .delete-icon img{
    width: 100%;  
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.body .content-container .cards-container .cardInfo-container .info-div{
  width: 70%;
}

.body .content-container .cards-container .cardInfo-container .cardInfo-item{
    font-size: medium;
    box-shadow: none; 
    border-radius: 0px;
    padding: 0;
    margin: 0;  
    background-color: transparent;  
    width: auto;
    text-align: left;
    font-weight: normal;
}

.body .content-container .cards-container .cardInfo-container .cardInfo-item span{
    font-weight: bolder;
}

.body .content-container .btn-aux-div2{
    width: 100%;   
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px; 
}




@media only screen and (max-width: 800px){

    .body .content-container p{
        font-size: medium;
    }
    
    .body .content-container{       
        width: 80%;
    }

    .body .content-container .cards-container .cardInfo-container .cardInfo-item{
        font-size: small;      
    }

    .body .content-container .cards-container .cardInfo-container .delete-icon{
        width: 30px;
        height: 30px;   
    }

    .add-btn{
        font-size: small;
    }

}