<div class="background"></div>
<!-- <app-navbar></app-navbar> -->
<div class="user-profile-container">
  <div class="user-profile">
    <div class="user-info-container">
      <h4 class="user-info-container-text">{{user_info?.full_name}}</h4>
      <p class="user-info-container-text-p">Celular</p>
      <h5 class="user-info-container-text">{{user_info?.phone_number}}</h5>
      <p class="user-info-container-text-p">Correo Electrónico</p>
      <h5 class="user-info-container-text">{{user_info?.email}}</h5>
      <button class="user-info-btn" routerLink="/informacionUsuario">Más información</button>
    </div>
    <div class="user-options-btn-container">
      <button class="user-option-btn" routerLink="/miBolsillo"><span class="pocket-option-icon"
          ></span>Bolsillo<span></span></button>
      <button class="user-option-btn" routerLink="/agregarTarjeta"><span class="card-option-icon"></span>Mis
        tarjetas<span></span></button>
      <button class="user-option-btn" routerLink="/depositos"><span
          class="payment-option-icon"></span>Depósitos<span></span></button>
      <button class="user-option-btn" routerLink="/transacciones"><span
          class="recieve-option-icon"></span>Transacciones<span></span></button>
      <button class="user-option-btn" routerLink="/historial"><span
          class="history-option-icon"></span>Historial<span></span></button>
      <button class="user-option-btn" routerLink="/"><span class="delete-option-icon"></span>Eliminar cuenta<span></span></button>
    </div>
  </div>
</div>
