<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:wght@300&display=swap"
  rel="stylesheet">
<app-navbar></app-navbar>
<div class="container-fluid row-cols-md-4">

  <div class="wrapper">

    <h1>Paymoon ¡transacciones seguras fuera de este planeta!</h1>

    <div class="rows">

      <div class="row p-3" ontouchstart="this.classList.toggle('hover');" id = "card1">
        <div class="container">
          <div class="front" style="background-image: url(/assets/img/about-us/card.png)">
            <div class="inner">
              <p>¿Qué es Paymoon?</p>
              <span>Tu aliado de confianza</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Es una plataforma financiera gratuita que vive en el celular y en la que las personas pueden usar
                libremente su plata,
                cuando la necesitan y con seguridad. Los mayores de 13 años que tengan celular inteligente pueden
                vincularse con $0.
                Paymoon es una forma de digitalizar la plata, es el acceso universal a los servicios financieros y al
                empoderamiento de las personas,
                pues les ofrece herramientas para lograr sus metas. Es por esto que no nos cansamos de hablar de la
                plata al ritmo de las personas y de que lo importante no es la plata sino lo que esta hace posible.
                Nosotros vemos las transacciones
                más allá del dinero, queremos que sean experiencias y conversaciones.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-3" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(/assets/img/about-us/card1.png)">
            <div class="inner">
              <p>¿Cómo funciona Paymoon?</p>
              <span>¡Tu también puedes ser parte de nosotros!</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Después de descargar Paymoonen en las tiendas App Store o Google Play, también puedes crear tu cuenta a
                través de nuestro sitio web,
                registrate con tus datos es muy fácil y seguro, la persona se vincula rápidamente y ¡Listo! tus
                transacciones ahora son más seguras. Viaja y descubre
                con nosotros esta nueva forma de manejar tu dinero el método más seguro de este y otros planetas.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-3" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(/assets/img/about-us/card2.png)">
            <div class="inner">
              <p>¿Por qué existe Paymoon?</p>
              <span>¡Viaja con nosotros ida y vuelta!</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Paymoon existe gracias a gente como tú. Salimos de la comodida de nuestros hogares e hicimos una
                investigación exhaustiva
                para entender la vida de las personas y a que se enfrentan. Enfocados en la necesidad de servir
                decidimos emprender viaje
                rumbo a lo desconocido y hoy estamos aquí, ofreciendo transacciones seguras hasta en la luna ¡IGNICIÓN!.
              </p>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
