<app-navbar></app-navbar>
<div class="background"></div>
<main>
  <div class="card">
    <div class="card-header">
      <img src="assets/img/user-register-info/favicon.ico_Mesa de trabajo 1.png" width="100" height="160">
    </div>
    <div class="card-body">
      <div class="card-title">Transferir dinero</div>
      <div class="card-text">Envía dinero fácil, rápido y seguro!</div>
      <div class="card-plan">


        <div class="card-plan-text">

          <div class="card-plan-title">Número PayMoon a transferir</div>
          <input type="text" placeholder="+57 312 842 0188">
          <div class="card-plan-title">Monto a transferir</div>
          <input type="Number" placeholder="$ 0.000">
        </div>

      </div>
      <div class="card-payment-button">
        <button>Realizar transferencia</button>
      </div>
      <div class="card-cancel-button">
        <button routerLink="/miCuenta">Cancelar</button>
      </div>
    </div>
  </div>
</main>
