<!-- <app-navbar></app-navbar> -->
<div class="background"></div>
<main>
  <div class="card">
    <div class="card-header">
      <img src="assets/img/user-register-info/favicon.ico_Mesa de trabajo 1.png" width="100" height="160">
    </div>
    <form [formGroup] ="transferRegisterForm" (ngSubmit) = "makeTransfer()">
      <div class="card-body">
        <div class="card-title">Transferir dinero</div>
        <div class="card-text">Envía dinero fácil, rápido y seguro!</div>
        <div class="card-plan">  
  
          <div class="card-plan-text">

            <select formControlName="id_card">
              <option   value="none">BOLSILLO</option>            
              <option *ngFor='let item of card_list' [value]="item?._id">
                {{item?.card_name}}
              </option>
            </select>
            <div class="card-plan-title">Número PayMoon a transferir</div>
            <input  formControlName="receiver_phone" type="text" class="text-center" placeholder="312 842 0188">            
            <div class="card-plan-title">Monto a transferir</div>
            <input formControlName="amount" type="text" class="text-center" placeholder="$ 0.000">
          </div>
  
        </div>
        <div class="card-payment-button">
          <button type="submit">Realizar transferencia</button>
        </div>
        <div class="paypal-payment-button">
          <a href="http://localhost:5000" src><img src="assets/img/transfers/paypal.png" class="paypal-img"> </a>
 
         </div>
        <div class="card-cancel-button">
          <button routerLink="/miPerfil">Cancelar</button>
        </div>
      </div>
    </form>
    
  </div>
</main>
<script>
  const checkout = document.getElementById("checkout");
  checkout.addEventListener("click", async () => {
    const response = await fetch("http://localhost:5000/create-order", {
      method: "POST",
    });
    const data = await response.json();
    window.location.href = data.links[1].href
  });

</script>