* {
  margin: 0;
  padding: 0;
  text-decoration: none;

}

.title-page {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  border-style: none;
  border: 0;
  background-color: white;
}

.title-page img,
.delete-card img {
  height: 30px;
  width: 30px;
}

.title-page-text {
  font-size: xx-large;
  font-weight: 700;
  color: #3927D0;
  padding-left: 35%;
}

.card {
  background-image: url("/assets/img/cards/credit-card.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  font-size: larger;
  border: none;
}

.card-information {
  padding-top: 40px;
}

.card1 {
  display: flex;
  justify-content: center;

}

.card-name {
  padding-top: 50%;
  padding-left: 10%;
  position: absolute;
}

.card-number {
  padding-top: 60%;
  padding-left: 10%;
  position: absolute;
}

.change-number-card {
  width: 300px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  margin-bottom: 20px;
}

.change-number-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #4749DE;
  z-index: -1;
  transition: all 0.5s;
}

.change-number-card:hover::before {
  width: 100%;
}

.change-number-card:hover {
  color: white;
}

.change-number-card:active:before {
  background: #b9b9b9;
}

.col-form-label {
  padding: 10px;
}

.buttons-save-cancel {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.buttons-save-cancel button {
  width: 80px;

}

.delete-card {
  margin-left: 60px;
}

form {
  padding-left: 40px;
}

.add-card {
  padding-top: 50px;
}

@media only screen and (max-width: 500px) {
  .card1 {
    display: block;
    align-items: center;

  }

  .card {
    background-image: url("/assets/img/cards/credit-card.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    width: 100%;
    font-size: medium;
    border: none;
  }

  .title-page-text {
    font-size: 25px;
  }

  .title-page {
    display: block;
    justify-content: space-around;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
  }

  .add-card {
    padding-top: 50px;
    display: flex;
    padding-left: 45%;
  }

  .card-name,
  .card-number {
    display: none;
  }

  form {
    padding-left: 30%;
  }

  .card-information {
    padding-top: 40px;
    width: 80%;
  }

  .name-card-container {
    width: 80%;
    padding-left: 30%;
  }

  .change-number-card {
    width: 80%;
    margin-bottom: 40%;
  }
}

@media only screen and (max-width: 1350px) {
  .card-name {
    padding-top: 70%;
    padding-left: 10%;
    position: absolute;
    font-size: medium;
  }

  .card-number {
    padding-top: 75%;
    padding-left: 10%;
    position: absolute;
    font-size: medium;
  }
}

@media only screen and (max-width: 915px) {
  .card-name {
    padding-top: 90%;
    padding-left: 10%;
    position: absolute;
    font-size: medium;
  }

  .card-number {
    padding-top: 95%;
    padding-left: 10%;
    position: absolute;
    font-size: medium;
  }
}

@media only screen and (max-width: 676px) {
  .card-name {
    padding-top: 110%;
    padding-left: 10%;
    position: absolute;
    font-size: medium;
  }

  .card-number {
    padding-top: 115%;
    padding-left: 10%;
    position: absolute;
    font-size: medium;
  }
}

@media only screen and (max-width: 555px) {
  .card-name {
    padding-top: 123%;
    padding-left: 10%;
    position: absolute;
    font-size: medium;
  }

  .card-number {
    padding-top: 130%;
    padding-left: 10%;
    position: absolute;
    font-size: medium;
  }
}
