<app-navbar></app-navbar>
<div class="page-cards-container">
  <section class="title-page">
    <p class="title-page-text">Mis tarjetas</p>
    <abbr title="Agregar tarjeta"> <button class="add-card" routerLink="/addCard"><img src="/assets/img/cards/add.png"
          alt="icono de agregar"></button></abbr>
  </section>

  <section class="card1">
    <div class="card col-6">
      <p class="card-name">Banco</p>
      <p class="card-number">xxxxxxxx1078</p>
    </div>
    <div class="card-information col-4">
      <form>
        <fieldset disabled>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Nombre:</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Banco">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Tipo de cuenta:</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Ahorros">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Estado:</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Confirmada">
          </div>
        </fieldset>
      </form>
      <button class="change-number-card">Cambiar nombre de la tarjeta</button>
      <abbr title="Eliminar tarjeta"> <button class="delete-card"><img src="/assets/img/cards/delete.png"
        alt=""></button></abbr>
      <br />
      <div ng-show="formVisibility" class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputtext6" class="col-form-label">Apodo</label>
        </div>
        <div class="col-auto">
          <input type="text" id="inputtext6" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Debe ser una palabra sin acentos ni caracteres especiales.
          </span>
        </div>
      </div>
      <div class="buttons-save-cancel">
        <button type="button" class="btn btn-outline-primary">Guardar</button>
        <button type="button" class="btn btn-outline-danger">Cancelar</button>
      </div>
    </div>

  </section>



</div>
