*{
    margin: 0;
    padding: 0;
text-decoration: none;
}
.page-cards-container{
    background-image: url("/assets/img/cards/Template1.png");
    background-repeat: no-repeat;
    position: relative;
}
.card{
    background-image: url("/assets/img/cards/credit-card.png");
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 500px;
}