<div class="background"></div>
<header>
    <app-user-navbar></app-user-navbar>
</header>
<div class="user-desktop-container">      
    <div class="user-desktop">
        <div class="user-pocket-container">
            <h3 class="pocket-title-h3">SALDO</h3>
            <h2 class="pocket-amount-p">$000.000.000</h2>
        </div>
        <div class="user-desktop-btn-container">
            <button class="user-desktop-btn">RECARGAR</button>
            <button class="user-desktop-btn">COBRAR</button>
            <button class="user-desktop-btn">PAGAR</button>
            <button class="user-desktop-btn">CERRAR SESIÓN</button>
        </div>        
    </div>
</div>
